*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.calculator-wrapper {
    position: relative;
    text-align: center;
     
}
  
  .calculator-wrapper h1 {
    font-size: 20px;
    color: #0bdf75bb;
   /* border: 2px solid red;*/
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
   /* border: none;
    box-shadow: 0px 3px 15px rgba(40, 42, 44, 0.9);*/
  }

  .animated-text {
    font-size: 20px;
    color: #ffffff;
    opacity: 0;
    animation: fadeInOut 6s infinite;
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0.5;
      transform: scale(0.7);
    }
    50% {
      opacity: 1;
      transform: scale(1.4);
      color: #8da093;
    }
  }
  
  .animated-text:hover {
    animation: shakeAnimation 1s infinite;
  }
  
  @keyframes shakeAnimation {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
  }
  
  
    

html{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 25px;
    box-shadow: -8px -8px 15px rgba(231, 230, 230, 0.2);
    cursor: pointer;
    animation: buttonScale 2s ease-in-out infinite;
    transition: transform 1s ease-in-out;
}
    @keyframes buttonScale {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
    
    button:hover {
        transform: scale(2.5);
    }


.equalBtn{
    background-color: #fb7c14;
}

.operator{
    color: #9df857;
}

.calculator-footer {
  
  margin-top: 20px;
  font-size: 25px !important;
  width: 100%;
  font-size: 16px;
  color: #987b7b;
  text-align: center;
  animation: moveText 10s linear infinite;
}

@keyframes moveText {
  0% {
      transform: translateX(-50%);
  }
  100% {
      transform: translateX(50%);
  }
}

